/*Estilos del login*/
html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    background: #1976d2;
    
    
}

#login-page {
   width: 500px;
}

